body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background: #777;
    width: 960px;
    font-size: 18px;
    margin: 0 auto;
    }

header {
    background: #ebebeb;
    padding: 50px;
    text-align: center;
    font-size: 18px;
    margin-top: 0%;
    margin-bottom: 1%;
    }
    
nav {
    background: #ebebeb;
    padding: 50px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 1%
    }    

section {
    background: #ebebeb;
    width: 495px;
    height: 50%;
    padding: 30px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 2%;
    float: left;
    overflow: hidden;
    
    }    

aside {
    background: #ebebeb;
    padding: 30px;
    padding-bottom: 280px;
    width: 35%;
    text-align: center;
    font-size: 18px;
    margin-bottom: 2%;
    float: right;
    ;
    
    }    

footer {
    background: #ebebeb;
    padding: 50px;
    text-align: center;
    font-size: 18px;
    margin-top: 37%;

    }    

.article {
    color: #ebebeb;
    background: #777;
    overflow: hidden;
    padding: 30px;
    margin-top: 2%;
    margin-bottom: 0%;
    }

.chicken{
    color: #777;
    background: #ebebeb;
    margin-top: 2%;
    margin-bottom: 2%;
    overflow: hidden;
    display: block;
}

.paragraph{
    color: #777;
    background: #ebebeb;
    margin-bottom: 2%;
    overflow: hidden;
    ;
    
}
   